/*Variables de Fuentes*/
/*Variables de Colores*/
/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
  /* Home page style ********************************/
  .structure, .header, .footer {
    width: 300px; }

  #selectnav1 {
    display: block;
    margin-right: 15px;
    margin-top: 12px; }

  #nav {
    display: none; }

  .single_service {
    width: 300px;
    margin-bottom: 30px; }

  .portfolio h2 {
    line-height: 24px; }

  .single_blog_post, .single_work {
    width: 220px;
    margin-left: 20%; }

  .single_footer {
    width: 280px; }

  /* Single page style *******************************/
  .single_main_content {
    padding: 5px;
    width: 290px; }

  .single_sidebar_area {
    padding: 5px;
    width: 290px;
    margin-top: 20px; }

  /* Contact page style *******************************/
  #googleMap {
    width: 290px;
    height: 170px; }

  .address, .cf {
    padding: 10px;
    width: 280px; }

  .cf_msg {
    width: 96%; }

  /* Blog page style ********************************/
  .post_meta {
    width: 75px; }

  .excerpt {
    width: 175px; }

  .post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
    display: none; }

  /* Portfolio page style ****************************/
  .portfolio-content {
    width: 300px; }

  .portfolio-area {
    width: 300px; }
    .portfolio-area li {
      width: 137px; }

  .home-portfolio-text {
    width: 131px; } }
/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Home page style ********************************/
  .structure, .header, .footer {
    width: 450px; }

  #selectnav1 {
    display: block;
    margin-right: 15px;
    margin-top: 10px; }

  #nav {
    display: none; }

  .single_service {
    width: 450px;
    margin-bottom: 30px; }

  .portfolio h2 {
    line-height: 50px; }

  .single_blog_post, .single_work {
    width: 216px;
    margin-left: 18px; }

  .single_footer {
    width: 430px; }

  /* Single page style *******************************/
  .single_main_content {
    padding: 5px;
    width: 440px; }

  .single_sidebar_area {
    padding: 5px;
    width: 440px;
    margin-top: 20px; }

  /* Contact page style *******************************/
  #googleMap {
    width: 440px;
    height: 180px; }

  .address {
    width: 120px;
    padding: 5px; }

  .cf {
    width: 290px;
    padding: 5px; }

  .cf_msg {
    width: 96%; }

  /* Blog page style ********************************/
  .post_meta {
    width: 115px; }

  .excerpt {
    width: 285px; }

  .post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
    display: none; }

  /* Portfolio page style ****************************/
  .portfolio-content {
    width: 450px; }

  .portfolio-area {
    width: 450px; }
    .portfolio-area li {
      width: 137px; }

  .home-portfolio-text {
    width: 131px; } }
/*Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Home page style ********************************/
  .structure, .header, .footer {
    width: 750px; }

  #selectnav1 {
    display: none; }

  #nav {
    display: block; }

  .single_service {
    width: 236px; }

  .single_blog_post, .single_work {
    width: 174px; }

  .single_footer {
    width: 213px; }

  /* Single page style *******************************/
  .single_main_content {
    width: 550px; }

  .single_sidebar_area {
    width: 180px; }

  /* Contact page style *******************************/
  #googleMap {
    width: 550px; }

  .address {
    width: 170px; }

  .cf {
    width: 366px; }

  .cf_msg {
    width: 96%; }

  /* Blog page style ********************************/
  .post_meta {
    width: 150px; }

  .excerpt {
    width: 355px; }

  .post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
    display: none; }

  /* Portfolio page style ****************************/
  .portfolio-content {
    width: 750px; }

  .portfolio-area {
    width: 750px; }
    .portfolio-area li {
      width: 174px; }

  .home-portfolio-text {
    width: 168px; } }
@font-face {
  font-family: "bebas-neue";
  src: url(../font/bebas___-webfont.woff); }
@font-face {
  font-family: "Helvetica-neue";
  src: url(../font/HelveticaNeue.woff); }
@font-face {
  font-family: "bebas-neue";
  src: url(../font/bebas___-webfont.woff); }
@font-face {
  font-family: "Helvetica-neue";
  src: url(../font/HelveticaNeue.woff); }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif, open-sans;
  font-size: 14px;
  line-height: 20px;
  color: #414141; }
  body .header_area .header {
    margin: 0 auto;
    transition: all 1.3s ease 0s;
    padding: 1%; }
    body .header_area .header .logo {
      margin-right: 2%; }
      body .header_area .header .logo h1 {
        font-family: bebas-neue;
        color: #E7663B;
        font-size: 36px;
        margin: 30px 0; }
        body .header_area .header .logo h1 span {
          color: #F3B29E; }
    body .header_area .header #nav {
      margin-right: -2%; }
      body .header_area .header #nav li > a {
        font-family: bebas-neue;
        color: #969696; }
        body .header_area .header #nav li > a:hover {
          color: #E7663B;
          background: white; }
  body .mainmenu {
    margin-top: 20px;
    margin-right: -15px; }
    body .mainmenu ul li {
      float: left; }
      body .mainmenu ul li a {
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
        color: #BCBCBC;
        font-size: 16px;
        font-family: bebas-neue; }
        body .mainmenu ul li a:hover {
          color: #E8663C !important; }
  body .header_bottom_area {
    background: #F2AE9C;
    min-height: 50px; }
  body .main_content_area {
    margin-top: -50px; }
  body .content_area {
    width: 940px;
    background: none repeat scroll 0 0 #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff; }
    body .content_area .single_header_title {
      background: none repeat scroll 0 0 #E8663C;
      min-height: 50px;
      margin-bottom: 30px; }
      body .content_area .single_header_title h1 {
        color: #fff;
        font-family: bebas-neue;
        font-size: 24px;
        line-height: 45px;
        padding-left: 10px; }
  body footer {
    color: white; }
    body footer .lateral_footer {
      background: #F3B29E;
      padding: 1.5%;
      height: 62vh; }
    body footer .single_footer_container {
      background: #E7663B;
      margin-left: 1.2%;
      padding-top: 3%; }
      body footer .single_footer_container .single_footer {
        padding: 1%;
        padding-left: 2%;
        padding-right: 4%; }
        body footer .single_footer_container .single_footer h2 {
          font-family: bebas-neue;
          font-size: 34px; }
        body footer .single_footer_container .single_footer p {
          padding-top: 5%;
          line-height: 1.5;
          font-family: helvetica-neue;
          font-size: 16px; }
        body footer .single_footer_container .single_footer .social_area {
          padding-top: 6%; }
  body .service_area {
    margin-top: 25px; }
    body .service_area .single_service_container {
      margin-left: -20px; }
      body .service_area .single_service_container .portfolio h2 {
        background: url("../images/portfolio.png") no-repeat scroll left center transparent;
        padding-left: 68px; }
      body .service_area .single_service_container .offer h2 {
        background: url("../images/offer.png") no-repeat scroll left center transparent;
        padding-left: 70px; }
      body .service_area .single_service_container .follow h2 {
        background: url("../images/follow.png") no-repeat scroll left center transparent;
        padding-left: 60px; }
      body .service_area .single_service_container .single_service {
        margin-left: 20px; }
        body .service_area .single_service_container .single_service a {
          background: none repeat scroll 0 0 #E8663C;
          color: #fff;
          display: block;
          font-family: bebas-neue;
          font-size: 12px;
          margin-top: 20px;
          padding: 5px 12px;
          width: 30px; }
        body .service_area .single_service_container .single_service h2 {
          color: #E8663C;
          font-size: 16px;
          font-family: bebas-neue; }
  body .from_blog {
    margin-top: 50px; }
    body .from_blog span {
      margin-left: -120px; }
    body .from_blog h2 {
      background: url("../images/heading-bg.png") repeat-x scroll 0 0 transparent;
      color: #E8603C;
      font-family: bebas-neue;
      font-size: 18px;
      margin-left: 120px;
      line-height: 20px;
      margin-bottom: 30px; }
    body .from_blog .single_blogpost_container, body .from_blog .single_work_container {
      margin-left: -18px; }
    body .from_blog .single_blog_post, body .from_blog .single_work {
      margin-bottom: 30px; }
    body .from_blog .single_blog_post h3 {
      color: #999999;
      font-size: 16px;
      margin-bottom: 2px;
      font-family: bebas-neue; }
  body .from_works {
    margin-top: 30px; }
    body .from_works h2 {
      background: url("../images/heading-bg.png") repeat-x scroll 0 0 transparent;
      color: #E8603C;
      font-family: bebas-neue;
      font-size: 18px;
      margin-left: 140px;
      line-height: 20px;
      margin-bottom: 30px; }
    body .from_works span {
      margin-left: -140px; }
    body .from_works .single_work h3 {
      color: #999999;
      font-size: 16px;
      margin-bottom: 2px;
      font-family: bebas-neue; }
    body .from_works .single_blog_post h4, body .from_works .single_work h4 {
      color: #E8663C;
      font-size: 11px;
      font-family: bebas-neue; }
    body .from_works .blog_post_meta {
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding-left: 25px;
      padding-top: 15px; }

/*# sourceMappingURL=main.css.map */
input[type=text], input[type=password] {
  border: 1px solid #ddd;
  padding: 5px; }

textarea {
  border: 1px solid #ddd;
  padding: 5px; }

input[type=submit] h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 15px;
  font-family: bebas-neue; }

h2 {
  font-size: 25px;
  line-height: 30px; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 20px; }

.alignleft {
  float: left;
  margin-left: 0px; }

.aligncenter {
  display: block;
  margin: 10px auto; }

.alignright {
  float: right;
  margin-left: 10px; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.structure {
  display: block;
  margin: 0 auto;
  transition: all 1.3s ease 0s;
  -moz-transition: all 1.3s ease 0s;
  -webkit-transition: all 1.3s ease 0s;
  -o-transition: all 1.3s ease 0s;
  -ms-transition: all 1.3s ease 0s; }

.fix {
  overflow: hidden; }

.current-page-item, .active {
  color: #E8663C !important; }

.footer_area {
  background: none repeat scroll 0 0 #F3B29D;
  margin-top: 40px; }

.footer {
  background: none repeat scroll 0 0 #E8663C;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  margin: 0 auto;
  padding: 20px 0;
  transition: all 1.3s ease 0s;
  -moz-transition: all 1.3s ease 0s;
  -webkit-transition: all 1.3s ease 0s;
  -o-transition: all 1.3s ease 0s;
  -ms-transition: all 1.3s ease 0s; }

.single_footer_container {
  margin-left: -25px; }

.single_footer {
  color: #fff;
  margin-left: 25px;
  padding: 10px; }
  .single_footer h2 {
    font-family: bebas-neue; }

.social_area {
  margin-left: -7px;
  margin-top: 15px; }
  .social_area ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .social_area ul li {
      float: left; }
      .social_area ul li a {
        display: block;
        margin-left: 7px;
        padding: 6px 16px;
        text-indent: -99999px; }

.facebook {
  background: url("../images/social.png") no-repeat scroll 0 0 transparent; }

.twitter {
  background: url("../images/social.png") no-repeat scroll -35px 0 transparent; }

.email {
  background: url("../images/social.png") no-repeat scroll -70px 0 transparent; }

.feed {
  background: url("../images/social.png") no-repeat scroll -105px 0 transparent; }

.vimeo {
  background: url("../images/social.png") no-repeat scroll -140px 0 transparent; }

/* blog page style ***************************/
.single_content_area, .single_main_content {
  position: relative; }

.single_post {
  margin-bottom: 50px; }

.post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
  display: block;
  height: 75px;
  left: -85px;
  position: absolute;
  width: 75px; }

.post_pro_img_normal {
  background: url("../images/icon1.png") no-repeat scroll 0 0 transparent; }

.post_pro_img_video {
  background: url("../images/icon3.png") no-repeat scroll 0 0 transparent; }

.post_pro_img_slider {
  background: url("../images/icon2.png") no-repeat scroll 0 0 transparent; }

.post_pro_img_quote {
  background: url("../images/icon4.png") no-repeat scroll 0 0 transparent; }

.post_pro_img_attachment {
  background: url("../images/icon6.png") no-repeat scroll 0 0 transparent; }

.attachment h2 {
  color: #E8603C;
  font-family: bebas-neue;
  font-size: 18px;
  margin-bottom: 0; }
.attachment h5 {
  color: #999999;
  font-family: helvetica-neue;
  font-size: 10px; }
.attachment p {
  padding: 10px; }

.post_excerpt {
  margin-top: 20px; }

.post_meta {
  padding: 10px; }
  .post_meta span {
    color: #E8663C;
    font-family: bebas-neue;
    font-size: 12px; }
  .post_meta p {
    color: #999999;
    margin-bottom: 10px; }

.excerpt {
  padding: 10px;
  width: 450px; }
  .excerpt h2 {
    font-family: bebas-neue;
    font-size: 18px;
    color: #E8663C; }
  .excerpt p {
    color: #414141;
    margin-bottom: 10px; }

.post_border_bottom {
  background: url("../images/post_border_bg.png") repeat scroll 0 0 transparent;
  height: 13px;
  margin-top: 25px; }

.quote {
  background: url("../images/quote_bg.png") repeat scroll 0 0 transparent;
  padding: 20px;
  margin-bottom: 55px; }
  .quote p {
    background: url("../images/quote.png") no-repeat scroll left top transparent;
    padding-left: 35px;
    padding-top: 15px; }

.pagination {
  margin-top: 30px; }
  .pagination ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .pagination ul li {
      float: left;
      margin-left: 10px; }
      .pagination ul li:first-child {
        margin-left: 0; }
      .pagination ul li a {
        display: block;
        color: #fff;
        background: #E8663C;
        padding: 8px 15px;
        font-family: bebas-neue; }
        .pagination ul li a:hover {
          background: #F3B29D; }

.single_sidebar {
  margin-bottom: 30px; }
  .single_sidebar h2 {
    background: url("../images/heading-bg.png") repeat-x scroll 0 0 transparent;
    color: #E8603C;
    font-family: bebas-neue;
    font-size: 15px;
    line-height: 18px;
    margin-left: 110px; }
    .single_sidebar h2 span {
      margin-left: -110px; }

.category_list {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .category_list li a:hover {
    text-decoration: underline; }

.gallery_container img {
  border: 1px solid #E8603C; }

.post_quote {
  padding: 30px; }
  .post_quote p {
    border-left: 10px solid #E8663C;
    padding-left: 15px; }
    .post_quote p:first-letter {
      font-size: 250%;
      color: #E8663C; }

.author_img {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 3px; }

/* contact form style ******************************/
.cf_container {
  margin-top: 35px; }

.address span {
  color: #E8663C; }

.cf_txt {
  border: 1px solid #E8663C !important;
  height: 30px;
  width: 60%;
  outline: none; }

.cf_email {
  height: 40px;
  width: 63%;
  padding-left: 5px;
  border: 1px solid #E8663C;
  outline: none; }

.cf_msg {
  border: 1px solid #E8663C;
  height: 200px;
  overflow: auto;
  font-size: 14px;
  outline: none; }

.cf_submit {
  background: none repeat scroll 0 0 #E8663C;
  border: medium none;
  color: #fff;
  font-family: bebas-neue;
  font-size: 23px;
  height: 45px;
  outline: medium none;
  width: 103%;
  cursor: pointer; }
  .cf_submit:hover {
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    background: #fff;
    color: #E8663C;
    border: 1px solid #E8663C; }

/* portfolio area style********************/
.filtering_menu {
  margin-bottom: 30px; }
  .filtering_menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .filtering_menu ul li {
      float: left;
      margin-right: 15px; }
      .filtering_menu ul li a {
        color: #999999;
        display: block;
        font-family: bebas-neue;
        padding: 10px 15px; }
        .filtering_menu ul li a:hover {
          color: #fff !important;
          background: #E8663C; }

.act {
  color: #fff !important;
  background: #E8663C; }

.portfolio_single_item img {
  margin-bottom: 25px; }

.portfolio_related_post {
  margin-top: 15px; }
  .portfolio_related_post h2 {
    background: url("../images/heading-bg.png") repeat-x scroll 0 0 transparent;
    color: #E8663C;
    font-family: bebas-neue;
    font-size: 18px;
    line-height: 18px;
    margin-left: 140px;
    margin-bottom: 30px;
    width: 84.5%; }
    .portfolio_related_post h2 span {
      margin-left: -140px; }

.featured {
  background: #E8663C url("../images/f_hover.png") no-repeat scroll center; }

.featured_img:hover {
  opacity: 0.2; }

/* placeholder support ****************/
::-webkit-input-placeholder {
  color: #E8663C;
  font-family: bebas-neue; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #E8663C;
  font-family: bebas-neue; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #E8663C;
  font-family: bebas-neue; }

:-ms-input-placeholder {
  color: #E8663C;
  font-family: bebas-neue; }

.portfolio-area {
  min-height: 500px !important; }

.portfolio-categ li:first-child {
  font-family: bebas-neue;
  font-size: 20px;
  padding: 10px 15px 10px 0px; }
.portfolio-categ li a {
  color: #999999;
  display: block;
  padding: 10px 15px;
  font-family: bebas-neue; }
  .portfolio-categ li a:hover {
    background: #E8663C;
    color: #fff; }
.portfolio-categ li.active a {
  background: #E8663C;
  color: #fff; }

.post-title-portfolio {
  margin-bottom: 0; }

.home-portfolio-text a {
  color: #999999;
  display: block;
  font-family: bebas-neue;
  font-size: 16px; }
.home-portfolio-text p {
  font-size: 11px;
  color: #E8663C;
  font-family: bebas-neue; }

a {
  color: #65a42d;
  text-decoration: none; }
  a:hover {
    color: #65a42d; }

.column-clear {
  clear: both; }

.wrapper {
  margin: 0px auto;
  padding: 0px;
  width: 1080px; }

.title-page {
  font-size: 40px;
  margin: 50px 0px 60px 0px;
  color: #151515; }

.goto {
  float: right;
  width: 130px;
  margin: -80px 30px 0px 0px; }

/**** PORTFOLIO STYLES*****/
.portfolio-categ {
  margin-bottom: 60px;
  list-style: none;
  overflow: hidden; }
  .portfolio-categ li {
    float: left;
    margin-right: 10px; }

.image-block {
  display: block;
  position: relative; }
  .image-block img {
    border: 1px solid #d5d5d5;
    background: #fff;
    padding: 1px; }
    .image-block img:hover {
      border: 1px solid #E8663C;
      box-shadow: 0 0 5px #E8663C; }

.portfolio-area li {
  float: left;
  margin: 0 3px 20px 0;
  overflow: hidden;
  padding: 5px; }

.home-portfolio-text {
  border: 1px solid #ddd;
  padding-left: 8px; }

/* font face */
@font-face {
  font-family: 'bebasregular';
  src: url("font/bebas___-webfont.eot");
  src: url("font/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("font/bebas___-webfont.woff") format("woff"), url("font/bebas___-webfont.ttf") format("truetype"), url("font/bebas___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("font//HelveticaNeue.eot");
  src: local("font/HelveticaNeue"), url("font/HelveticaNeue.woff") format("woff"), url("font/HelveticaNeue.ttf") format("truetype"); }
/*Default Layout: 992px.*/
/* Home page style ********************************/
.structure, .header, .footer {
  width: 940px; }

#selectnav1 {
  display: none; }

#nav {
  display: block; }

.single_service {
  width: 300px; }

.single_blog_post, .single_work {
  width: 220px;
  margin-left: 18px; }

.single_footer {
  width: 275px; }

/* single page style *******************************/
.single_main_content {
  width: 670px; }

.single_sidebar_area {
  width: 220px; }

/* Contact page style ****************************/
#googleMap {
  width: 670px;
  height: 300px; }

.address {
  width: 239px; }

.cf {
  width: 420px; }

.cf_msg {
  width: 100%; }

/* Blog page style ********************************/
.post_meta {
  width: 180px; }

.excerpt {
  width: 450px; }

.post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
  display: block; }

/* Portfolio page style ****************************/
.portfolio-content {
  width: 940px; }

.portfolio-area {
  width: 940px; }
  .portfolio-area li {
    width: 220px; }

.home-portfolio-text {
  width: 214px; }

/*Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Home page style ********************************/
  .structure, .header, .footer {
    width: 750px; }

  #selectnav1 {
    display: none; }

  #nav {
    display: block; }

  .single_service {
    width: 236px; }

  .single_blog_post, .single_work {
    width: 174px; }

  .single_footer {
    width: 213px; }

  /* Single page style *******************************/
  .single_main_content {
    width: 550px; }

  .single_sidebar_area {
    width: 180px; }

  /* Contact page style *******************************/
  #googleMap {
    width: 550px; }

  .address {
    width: 170px; }

  .cf {
    width: 366px; }

  .cf_msg {
    width: 96%; }

  /* Blog page style ********************************/
  .post_meta {
    width: 150px; }

  .excerpt {
    width: 355px; }

  .post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
    display: none; }

  /* Portfolio page style ****************************/
  .portfolio-content {
    width: 750px; }

  .portfolio-area {
    width: 750px; }
    .portfolio-area li {
      width: 174px; }

  .home-portfolio-text {
    width: 168px; } }
/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
  /* Home page style ********************************/
  .structure, .header, .footer {
    width: 300px; }

  #selectnav1 {
    display: block;
    margin-right: 15px;
    margin-top: 12px; }

  #nav {
    display: none; }

  .single_service {
    width: 300px;
    margin-bottom: 30px; }

  .portfolio h2 {
    line-height: 24px; }

  .single_blog_post, .single_work {
    width: 220px;
    margin-left: 20%; }

  .single_footer {
    width: 280px; }

  /* Single page style *******************************/
  .single_main_content {
    padding: 5px;
    width: 290px; }

  .single_sidebar_area {
    padding: 5px;
    width: 290px;
    margin-top: 20px; }

  /* Contact page style *******************************/
  #googleMap {
    width: 290px;
    height: 170px; }

  .address, .cf {
    padding: 10px;
    width: 280px; }

  .cf_msg {
    width: 96%; }

  /* Blog page style ********************************/
  .post_meta {
    width: 75px; }

  .excerpt {
    width: 175px; }

  .post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
    display: none; }

  /* Portfolio page style ****************************/
  .portfolio-content {
    width: 300px; }

  .portfolio-area {
    width: 300px; }
    .portfolio-area li {
      width: 137px; }

  .home-portfolio-text {
    width: 131px; } }
/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Home page style ********************************/
  .structure, .header, .footer {
    width: 450px; }

  #selectnav1 {
    display: block;
    margin-right: 15px;
    margin-top: 10px; }

  #nav {
    display: none; }

  .single_service {
    width: 450px;
    margin-bottom: 30px; }

  .portfolio h2 {
    line-height: 50px; }

  .single_blog_post, .single_work {
    width: 216px;
    margin-left: 18px; }

  .single_footer {
    width: 430px; }

  /* Single page style *******************************/
  .single_main_content {
    padding: 5px;
    width: 440px; }

  .single_sidebar_area {
    padding: 5px;
    width: 440px;
    margin-top: 20px; }

  /* Contact page style *******************************/
  #googleMap {
    width: 440px;
    height: 180px; }

  .address {
    width: 120px;
    padding: 5px; }

  .cf {
    width: 290px;
    padding: 5px; }

  .cf_msg {
    width: 96%; }

  /* Blog page style ********************************/
  .post_meta {
    width: 115px; }

  .excerpt {
    width: 285px; }

  .post_pro_img_normal, .post_pro_img_video, .post_pro_img_slider, .post_pro_img_quote, .post_pro_img_attachment {
    display: none; }

  /* Portfolio page style ****************************/
  .portfolio-content {
    width: 450px; }

  .portfolio-area {
    width: 450px; }
    .portfolio-area li {
      width: 137px; }

  .home-portfolio-text {
    width: 131px; } }

/*# sourceMappingURL=main.css.map */
