/*Variables de Fuentes*/
$bebas:bebas-neue;
$helvet:helvetica-neue;
$open:open-sans;


/*Variables de Colores*/
$rosa:#F2AE9C;
$orange:#E8663C;
$coral:#E7663B;
$light-pink:#F3B29E;
$white:#fff;
$gray:#969696;
$black:#414141;
$strong-black:#000;
$light-gray:#ddd;